mat-timepicker-content.mat-timepicker-content{
  background-color: #ffffff;
}

mat-form-field > div.mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled {
  background-color: #fff !important;
}

mat-form-field > div.mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled.mdc-text-field--focused {
  background-color: #fff !important;
}
