<mat-toolbar
  *ngIf="isAuthenticated"
  class="d-flex justify-content-between"
  color="primary"
>
  <div>
    <span class="m-3 p-3" routerLink="/saved-todos" routerLinkActive="active"
    >Saved todos</span
    >
    <span class="m-3 p-3" routerLink="/todo" routerLinkActive="active"
    >Create todo list</span
    >
  </div>
  <span class="me-3 p-3" (click)="onLogout()" routerLinkActive="active"
  >LogOut</span
  >
</mat-toolbar>

<div class="container">
  <main class="p-5 w-75 mx-auto">
    <router-outlet></router-outlet>
  </main>
</div>
