<form
  class="d-flex flex-column"
  [formGroup]="form"
  #f="ngForm"
  (ngSubmit)="onSubmit(form, f)"
>
  <h1 class="text-center">{{ todoName }}</h1>
  <mat-form-field class="example-full-width">
    <mat-label>Type todo item</mat-label>
    <input matInput formControlName="todoControl" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="dateControl" />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="mat-timepicker-content">
    <input
      formControlName="timeControl"
      type="text"
      matInput
      [matTimepicker]="timepicker"
    />
    <mat-timepicker-toggle matSuffix [for]="timepicker"></mat-timepicker-toggle>
    <mat-timepicker #timepicker></mat-timepicker>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea
      matInput
      placeholder="Description"
      formControlName="textareaControl"
    ></textarea>
  </mat-form-field>

  <button
    class="mb-5"
    [disabled]="form.invalid"
    type="submit"
    mat-flat-button
    color="primary"
    (click)="openSnackBar()"
  >
    Add item
  </button>
</form>
